@model TheDessertHouse.Web.Models.UserInformationView
@Html.Partial(Url.Content("~/Views/Shared/Message.cshtml"))
<h2>
    Change Password</h2>
<div style="margin: 2em 0 0 0">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
 
        <table class="standard">
            @if (string.IsNullOrEmpty(Model.Password))
            {     
                <tr>
                    <td class="labelCell">
                        @Html.LabelFor(model => model.Password, "Current Password")
                    </td>
                    <td class="fieldCell">
                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
            }
            else
            {
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(model => model.Password)
            }
            <tr>
                <td class="labelCell">
                    @Html.LabelFor(model => model.ChangePassword)
                </td>
                <td class="fieldCell">
                    @Html.PasswordFor(model => model.ChangePassword)
                    @Html.ValidationMessageFor(model => model.ChangePassword)
                </td>
            </tr>
            <tr>
                <td class="labelCell">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </td>
                <td class="fieldCell">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </td>
            </tr>
        </table>
        
    
        <div class="buttonPos">
            <p>
                <input type="submit" value="Submit" />
            </p>
        </div>

    }
</div>
@section scriptContent{
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/changepassword.js")"></script>
}
